h1 {color: hotpink}


.div1{
    width: 200px;
    height: 400px;
    border: 1px solid black;
    box-sizing:border-box;
}
body {
    background-image: url('test.png');
    overflow: hidden;
}

.SearchBarSideWays {
    height: 100%;
    position: fixed;
    width: 2rems;
    top: 0;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    overflow-x: hidden;
    background-color: ghostwhite;
}
.SearchBarSideWays a:hover{
    color: blueviolet;
}
.SearchBarSideWays a{
    padding: 0 rems 0.1 rems 0.5 rems;
    font-size: 0.8 rems;
    display: block;
    color: blue;
    text-decoration: none;
}